streamlit
sentence-transformers==2.2.2
transformers==4.30.2
huggingface_hub==0.16.4
pdf2image
pytesseract
Pillow
PyPDF2
python-docx
nltk
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1+cpu
torchvision==0.17.1+cpu
