streamlit
sentence-transformers==2.2.2
torch==2.9.1+cpu
torchvision==0.17.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
pdf2image
pytesseract
Pillow
PyPDF2
python-docx
nltk
transformers==4.30.2
huggingface_hub==0.16.4
